* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
}

/* Header */
header {
  padding: 20px 0 0 10px;
  display: flex;
  justify-content: center;
}
.header-content {
}
.header-content h2 {
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  color: #970c0c;
}
.header-content img {
  height: 30px;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

/* Main Section */
main {
  background-color: #f7eceb;
}
.bg-img {
}
.login-wrap {
  text-align: center;
}
.login-wrap h1 {
  text-transform: uppercase;
  font-weight: 700;
  color: #970c0c;
  font-size: 3.5rem;
}

/* Form */
.btn-custom {
  padding: 5px 15px;
  text-transform: uppercase;
  border-radius: 15px;
  background-color: #970c0c;
  color: white;
  font-weight: 600;
  border: none;
  transition: all 0.3s;
}
.btn-custom:hover {
  background-color: #a01a1a;
}
form input {
  margin: auto;
  text-align: center;
  font-weight: 600;
  border-radius: 15px;
}
form input:focus {
  /* outline: none !important;
  border: 1px solid red;
  box-shadow: 0 0 10px #719ece; */
}
.form-control {
  font-weight: 600;
}
.form-control:focus {
  outline: none !important;
  border: 1px solid rgb(237, 62, 62);
  box-shadow: 0 0 5px rgb(237, 62, 62);
}
