* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
html {
  scroll-behavior: smooth;
}
body {
}
/* ----------------SideNav------------------ */
.user {
  text-align: center;
  display: block;
  margin-bottom: 130px;
}
.user h4 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 10px;
  color: white;
  font-weight: 400;
  display: block;
  transform: scale(1);
  transition: all 0.3s;
}
.user h4:hover {
  transform: scale(1.02);
}
.user i {
  color: white;
}
.header-body {
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: end;
}
.side-nav {
  width: 15%;
  height: 100%;
  background: #df6767;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0 0 10px;
}

.sidenav-links {
  list-style: none;
  position: relative;
}

.sidenav-links li {
  padding: 10px 0;
}
.sidenav-links li a {
  color: white;
  text-decoration: none;
  padding: 10px 14px;
  display: flex;
  align-items: center;
}
.sidenav-links li:hover a {
  color: #df6767;
  transition: 0.3s all;
}
.sidenav-links li a p {
  margin-bottom: 0px;
  display: inline-block;
}
.sidenav-links li a i {
  font-size: 22px;
  margin-right: 20px;
}
.active {
  background-color: #fff;
  width: 95%;
  height: 47px;
  position: absolute;
  left: 0;
  top: 2.6%;
  z-index: -1;
  border-radius: 6px;
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.4);
  display: none;
  transition: top 0.3s;
}
.sidenav-links li:hover ~ .active {
  display: block;
}
.sidenav-links li:nth-child(2):hover ~ .active {
  top: 37%;
}
.sidenav-links li:nth-child(3):hover ~ .active {
  top: 70%;
}

@media only screen and (max-width: 1024px) {
  .side-nav {
    /* width: 90px; */
    padding: 20px 0 0 0px;
  }
  .user h4 {
    display: none;
  }
  .sidenav-links li a p {
    display: none;
  }
  .sidenav-links li a i {
    margin-right: 0;
  }
  .sidenav-links li a {
    justify-content: center;
  }
  .sidenav-links {
    padding-left: 0;
  }
}
/* ----------------Main------------------ */

/* Header */
.content-body {
  width: 85%;
}
header {
  padding: 20px 0 0 10px;
  display: flex;
  justify-content: center;
}
.header-content {
}
.header-content h2 {
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  color: #970c0c;
}
.header-content img {
  height: 30px;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

/* Main */
.margin-bt {
  margin-bottom: 5%;
}
main {
  background-color: #f7eceb;
  /* to remove */
  /* height: 100vh; */
  /* . */
  position: relative;
  z-index: 1;
}
.bg img {
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 80%;
}
@media only screen and (max-width: 600px) {
  .bg img {
    width: 100%;
  }
}
.junc-head {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #970c0c;
  padding-top: 20px;
}

/* Form */

form {
  margin: 5%;
}

.form-group {
  margin-bottom: 10px;
}
.form-group label {
  font-weight: 700;
}
.form-group input {
  border-radius: 5px;
}
.form-group input::placeholder {
  text-align: center;
}
.form-group option {
  border-radius: 5px;
  text-align: center;
}
.form-group textarea {
  font-size: 14px;
}
.form-group textarea::placeholder {
  font-size: 14px;
}
.form-sub-heading {
  font-size: 1rem;
  font-weight: 700;
  color: #970c0c;
  margin-top: 10px;
}
.form-button {
  display: block;
  display: flex;
  justify-content: end;
}
.btn-next {
  width: 120px;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  background-color: #970c0c;
  color: white;
  font-weight: 400;
  letter-spacing: 1.1;
  text-transform: uppercase;
  transition: all 0.3s;
  transform: scale(1);
}
.btn-next:hover {
  background-color: #ad1a1a;
  transform: scale(1.02);
}

.message {
  width: 120px;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  background-color: #90f164;
  color: rgb(9, 9, 9);
  font-weight: 400;
  letter-spacing: 1.1;
  text-transform: uppercase;
  transition: all 0.3s;
  transform: scale(1);
}

#successMessage{
  font-size: 20px;
  font-weight: bold;
  text-align: end;
}

/* Utilities */
.form-button-add {
  margin: 10px 0px;
}
#btn-pole {
  text-decoration: none;
  width: 120px;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background-color: #df6767;
  color: white;
  font-weight: 400;
  letter-spacing: 1.1;
  text-transform: uppercase;
  transition: all 0.3s;
  transform: scale(1);
}
#btn-pole:hover {
  background-color: #e25a5a;
  transform: scale(1.02);
}
#btn-arm {
  text-decoration: none;
  width: 120px;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background-color: #af7d7d;
  color: white;
  font-weight: 400;
  letter-spacing: 1.1;
  text-transform: uppercase;
  transition: all 0.3s;
  transform: scale(1);
}
#btn-arm:hover {
  background-color: #b36d6d;
  transform: scale(1.02);
}

.table-heading {
  margin: 10px 0px;
  font-size: 1rem;
  font-weight: 700;
  /* text-align: center; */
}
